html {
    max-width: 100%;
    height: 100%;
	margin: 0;
}
body {
    width: 100%;
    height: 100%;
	font-family: 'Lato', sans-serif;	
	margin: 0;
	position: relative;
}

a,
a:focus
 {
    color: #000A1F;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-decoration: none;
}

h3 {
	color: #000A1F;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	}

a:hover
{
    text-decoration: none;
    color: #E6E6E6;
}

a.normal:hover
{
	color: #000A1F;
	font-weight: 700;
}

section
{
	margin-top: -60px;
	margin-bottom: 70px;
}

hr
{
	color: #CCCCCC;
	background-color: #CCCCCC;
	height: 1px;
}

.btn-primary, .input-group
{
	margin-top: 20px;
}


.navbar-custom .navbar-header .navbar-brand
{
	display: block;
	font-size: 15px;
	margin: 5px;
	text-transform: uppercase;
	font-weight: 700;
	list-style: none;
}

.navbar-custom .navbar-header .navbar-brand li a
{
	padding: 10px 10px;
}

.navbar-custom .navbar-header .navbar-brand li a:hover
{
    outline: 0;
    background-color: #000A1F;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

.navbar-custom .nav li a
{
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

.navbar-custom .nav .active a
{

	color: #000A1F;
	transition: all .2s ease-in-out;
}

.navbar-custom .nav li a:hover
	{
    outline: 0;
    background-color: #000A1F;
	}

.navbar-custom.top-nav-collapse, .navbar-custom {
        padding: 0;
        border-bottom: 1px solid #000A1F;
		background: rgba(240, 240, 240, 1);
		box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
    }
	
.light {
    font-weight: 400;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: url("../img/logo.jpg") no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
	box-shadow:0px 3px 3px rgba(0, 0, 0, 0.3);
	padding: 0;
	
	}
	
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
	background-color:rgba(0,0,0,0.3);
	text-shadow: 5px 2px 3px rgba(116, 116, 118, 0.73);
}

.intro .intro-body .brand-heading {
    font-size: 40px;
	font-family: 'Lobster', cursive;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.btn-custom
{
	font-size: 15px;
	background-color: rgba(79, 131, 44, 0.9);
	color: #fff;
	border-style: none;
	border-radius: 10px;
	margin-top: 30px;
	padding: 10px;
	transition: all 0.3s linear 0s, color 0.3s linear 0s;
}

.btn-custom:hover
	{
	color: #000A1F;
	-webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
	}

.sectionheader
{
	font-family: 'Lobster', cursive;
	font-size: 25px;		
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 70px;
	color: #000A1F;
	text-shadow: 5px 2px 3px rgba(116, 116, 118, 0.73);
}

hr.fishhr
{
	margin-top: 40px;
}

.flexslider
{
	display: none;
}

.slides .slideli
{
	width: 100%; 
	position: relative; 
	opacity: 1; 
	display: block; 
	z-index: 2;
	margin-top: 10px;
	box-shadow:0px -3px 2px rgba(0, 0, 0, 0.2);
}

.slider-content
{
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;
	width: 100%;
	max-height: 100%;
}

.slider-content h2
{
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	padding: 3px;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.slider-content p
{
	font-size: 13px;
	padding: 2px 5px 2px 5px;
	text-align: center;
	color: #fff;
}

.list-group .list-group-item {
	border-radius: 0;
}

a.list-group-item {
	border-radius: 0;
	border-style: none;
	color: #000A1F;
	font-weight: 700;
	letter-spacing: 2px;
	border-radius: none;
	}

a.list-group-item:hover
{
	background-color: #000A1F;
	transition: all 0.5s linear 0s;
	color: #fff;
}

.list-group .list-group-item
{
	border-style: none;
}

.fa-custom
{
	display: block;
	width: 10px;
	height: 10px;
	margin-right: 20px;
}

.dishes-item-container { 
	max-width: 250px;
	margin: 20px auto;}
	
.dish-details {
	position: relative;
	padding: 10px 0px;
	text-align: center;}
	
p.dish-text {
height: 40px;
}
	
.img-frame {
	position: relative;
	max-width: 300px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 2px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 400px;
	z-index: 10;}
	
.img-frame img { 
	border-radius: 400px; 
	}
	
.img-frame .img-frame-hover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 400px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
	}
	
.img-frame .img-frame-hover a i {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	line-height: 60px;
	text-align: center;
	font-size: 22px;
	background-color: rgba(255, 255, 255 ,0.7);
	border-radius: 60px;
	}

.img-frame:hover .img-frame-hover {
    opacity: 1;
	}
	
.badge
{
	font-size: 15px;
	border-radius: 5px;
	background-color: rgba(79, 131, 44, 0.9);
	font-weight: 400;
}
	
#map
	{
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.2);
	}
	
@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

	
@media(min-width:768px) {
	
	h3 {
		font-size: 17px;
	}
	
    .navbar-custom {
        padding: 10px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
		box-shadow: none;
    }


    .intro {
        height: 100%;
        padding: 0;
    }

	.intro .intro-body .brand-heading {
        font-size: 80px;
		letter-spacing: 2px;
    }

    .intro .intro-body .intro-text {
        font-size: 20px;
    }
	
	.navbar-custom .navbar-header .navbar-brand
	{
		font-size: 20px;
		margin-top: 10px;
	}
	
	.navbar-custom .navbar-header .navbar-brand li a:hover, .navbar-custom .nav li a:hover
	{
    background-color: transparent;
	}

	.navbar-custom .nav li a
	{
		font-size: 17px;
		border: 0;
		background-color: transparent;
		margin-top: 10px;
	}
	
	.navbar-custom .nav .active a
	{
		border-bottom: 5px solid rgba(79, 131, 44, 0.9);
		color:  #000A1F;
		transition: all .2s ease-in-out;
	}
	
	.sectionheader
	{
		font-size: 30px;
	}
	
	.top-nav-collapse .navbar-header .navbar-brand li a:hover, .top-nav-collapse .nav li a:hover
	{
	background-color: #000A1F;
	color: #fff;
	}
	
	.btn-custom
	{
	margin-top: 40px;
	padding: 10px;
	font-size: 17px;
	letter-spacing: 1px;
	}
	
	.flexslider
	{
	display: block;
	margin-top: 60px;
	}
	
	.slider-content h2
	{
	font-size: 20px;
	padding: 5px;
	}

	.slider-content p
	{
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	}
	
	hr.fishhr
	{
	margin-top: 40px;
	}
}